<div style="display: flex; justify-content: center; align-items: center; height: 120px">
  <h1>Welcome to the Rick and Morty App!</h1>
</div>

<div
  class="list-parent"
  style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 64px"
>
  <app-landing-card title="Dimensions" [backgroundImage]="'assets/landing/dimensions.jpg'"></app-landing-card>
  <app-landing-card title="Locations" [backgroundImage]="'assets/landing/locations.jpg'"></app-landing-card>
  <app-landing-card title="Episodes" [backgroundImage]="'assets/landing/episodes.jpg'"></app-landing-card>
</div>
